
/* Your CSS Code here. */
#btn {
	background-color: white;
	color: black;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}

#btn:hover {
	background-color: yellow;
	color: black;
	border-radius: 30px;
}

